In [2]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath('..'))  # Adds the parent directory to sys.path

from src import config

In [3]:
db = pd.read_excel(os.path.join(config.RAW_DATA_PATH,
                    'Real estate valuation data set.xlsx'))

In [3]:
db.head(2)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2

In [9]:
missing_values = db.isnull().sum()
print(missing_values)

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [8]:
max_latitude=db['X5 latitude'].max()
print(max_latitude)
min_latitude=db['X5 latitude'].min()
print(min_latitude)

25.01459
24.93207

In [9]:
max_longitude=db['X6 longitude'].max()
print(max_longitude)
min_longitude=db['X6 longitude'].min()
print(min_longitude)

121.56627
121.47353

In [10]:
max_house_age=db['X2 house age'].max()
print(max_house_age)
min_house_age=db['X2 house age'].min()
print(min_house_age)

43.8
0.0

In [11]:
max_distance=db['X3 distance to the nearest MRT station'].max()
print(max_distance) 
min_distance=db['X3 distance to the nearest MRT station'].min()
print(min_distance)

6488.021
23.38284

In [13]:

max_convenience=db['X4 number of convenience stores'].max()
print(max_convenience)
min_convenience=db['X4 number of convenience stores'].min()
print(min_convenience)

10
0

In [4]:
max_price=db['Y house price of unit area'].max()
print(max_price)
min_price=db['Y house price of unit area'].min()
print(min_price)

117.5
7.6